.PieceTitle[data-v-a4b111ae] {
    position: absolute;
    left: 0;
    top: 50vh;
    text-align: center;
    width: 100vw;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

@media only screen and (max-width:599px) {
    .PieceTitle[data-v-a4b111ae] {
        top: var(--vhAtInitHalf)
    }
}

.PieceTitle h1[data-v-a4b111ae] {
    width: 100%;
    padding: 0 10vw;
    margin: 0;
    font-family: SohneBreit-Extrafett, sans-serif;
    font-weight: 400;
    color: #611eff;
    font-size: 9vw;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0)
}

.PieceTitle h1 span[data-v-a4b111ae] {
    display: block;
    -webkit-transform: scale(.75);
    transform: scale(.75)
}

@media only screen and (max-width:599px) {
    .PieceTitle h1 span[data-v-a4b111ae] {
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important
    }
}

@-webkit-keyframes title-in-translate-data-v-a4b111ae {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(0, -15vh, 0);
        transform: translate3d(0, -15vh, 0)
    }
}

@keyframes title-in-translate-data-v-a4b111ae {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(0, -15vh, 0);
        transform: translate3d(0, -15vh, 0)
    }
}

@-webkit-keyframes title-in-scale-data-v-a4b111ae {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
}

@keyframes title-in-scale-data-v-a4b111ae {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
}

@-webkit-keyframes title-out-data-v-a4b111ae {
    0% {
        -webkit-transform: translate3d(0, -15vh, 0);
        transform: translate3d(0, -15vh, 0)
    }
    to {
        -webkit-transform: translate3d(0, calc(-15vh - 2.5vw), 0);
        transform: translate3d(0, calc(-15vh - 2.5vw), 0)
    }
}

@keyframes title-out-data-v-a4b111ae {
    0% {
        -webkit-transform: translate3d(0, -15vh, 0);
        transform: translate3d(0, -15vh, 0)
    }
    to {
        -webkit-transform: translate3d(0, calc(-15vh - 2.5vw), 0);
        transform: translate3d(0, calc(-15vh - 2.5vw), 0)
    }
}

.PieceTitle h1.title-enter-active[data-v-a4b111ae] {
    -webkit-animation: title-in-translate-data-v-a4b111ae 2s cubic-bezier(.77, 0, .175, 1) .7s both;
    animation: title-in-translate-data-v-a4b111ae 2s cubic-bezier(.77, 0, .175, 1) .7s both
}

.PieceTitle h1.title-enter-active span[data-v-a4b111ae] {
    -webkit-animation: title-in-scale-data-v-a4b111ae 1s cubic-bezier(.645, .045, .355, 1) .7s both;
    animation: title-in-scale-data-v-a4b111ae 1s cubic-bezier(.645, .045, .355, 1) .7s both
}

@media only screen and (max-width:599px) {
    .PieceTitle h1.title-enter-active span[data-v-a4b111ae] {
        -webkit-animation: none;
        animation: none
    }
}

.PieceTitle h1.title-leave-active[data-v-a4b111ae] {
    -webkit-animation: title-out-data-v-a4b111ae .4s cubic-bezier(.75, -.5, 1, 0) 1.65s;
    animation: title-out-data-v-a4b111ae .4s cubic-bezier(.75, -.5, 1, 0) 1.65s
}

.PieceTitle h1.title-leave-active.is-shallow[data-v-a4b111ae] {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.PieceTitle h1.title-leave-active span[data-v-a4b111ae] {
    -webkit-animation: none;
    animation: none
}

.MountedPieceShadow[data-v-2a1738d6] {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .13;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translate3d(.667vw, 1.5vw, 0) rotate(0deg) scale(.995);
    transform: translate3d(.667vw, 1.5vw, 0) rotate(0deg) scale(.995);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none
}

.MountedPieceShadow canvas[data-v-2a1738d6] {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.NavigationFooter[data-v-5a9509be] {
    position: relative;
    width: 100%;
    height: calc(100vh + 5vw);
    margin-top: calc(-10rem + -10vw)
}

@media only screen and (max-width:599px) {
    .NavigationFooter[data-v-5a9509be] {
        margin-top: calc(-5rem + -5vw)
    }
}

.NavigationFooter>div[data-v-5a9509be] {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    text-align: center
}

.NavigationFooter p[data-v-5a9509be] {
    margin: 0;
    color: rgba(32, 32, 32, .45);
    font-family: Sohne-Kraftig, sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    letter-spacing: .01em;
    text-transform: uppercase;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.NavigationFooter p span[data-v-5a9509be] {
    position: absolute;
    left: 0;
    bottom: 100%;
    display: block;
    width: 100%;
    padding: 0 10vw
}

.NavigationFooter p a[data-v-5a9509be] {
    display: inline-block;
    margin: 0 10vw;
    font-family: SohneBreit-Extrafett, sans-serif;
    font-weight: 400;
    color: #611eff;
    font-size: 9vw;
    line-height: 1;
    text-decoration: none;
    -webkit-transform: scale(.75);
    transform: scale(.75)
}

.NavigationFooter p a strong[data-v-5a9509be] {
    display: block
}

.NavigationFooter p a.is-animating-hover[data-v-5a9509be] {
    color: #611eff
}

.NavigationFooter p a.is-animating-hover strong[data-v-5a9509be] {
    -webkit-animation: link-hover-data-v-5a9509be 1.2s cubic-bezier(.165, .84, .44, 1) both;
    animation: link-hover-data-v-5a9509be 1.2s cubic-bezier(.165, .84, .44, 1) both
}

@-webkit-keyframes link-hover-data-v-5a9509be {
    0% {
        -webkit-transform: translate3d(0, .625rem, 0);
        transform: translate3d(0, .625rem, 0);
        color: #202020
    }
    13% {
        color: #202020
    }
    13.1% {
        color: #611eff
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes link-hover-data-v-5a9509be {
    0% {
        -webkit-transform: translate3d(0, .625rem, 0);
        transform: translate3d(0, .625rem, 0);
        color: #202020
    }
    13% {
        color: #202020
    }
    13.1% {
        color: #611eff
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}

.Piece article p a {
    font-family: Sohne-Kraftig, sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .4s cubic-bezier(.165, .84, .44, 1);
    transition: color .4s cubic-bezier(.165, .84, .44, 1)
}

.Piece article p a:hover {
    color: rgba(32, 32, 32, .75)
}

.Piece[data-v-16f49ca3] {
    overflow: hidden;
    position: relative;
    padding-top: 100vh
}

.Piece .mounted[data-v-16f49ca3] {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: calc(5rem + 5vw) 0
}

@media only screen and (max-width:599px) {
    .Piece .mounted[data-v-16f49ca3] {
        height: var(--vhAtInit);
        margin: calc(2.5rem + 2.5vw) 0
    }
}

.Piece .mounted .wall[data-v-16f49ca3] {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0
}

.Piece .mounted .wall .group[data-v-16f49ca3] {
    position: absolute;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.Piece .mounted .wall .group .piece[data-v-16f49ca3],
.Piece .mounted .wall .group>a[data-v-16f49ca3] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%
}

.Piece .mounted .wall .group .piece[data-v-16f49ca3] {
    z-index: 1;
    pointer-events: none
}

.Piece .mounted .wall .group[data-v-16f49ca3]:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 1;
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #fff
}

.Piece .mounted.first[data-v-16f49ca3] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0
}

.Piece .mounted.first+[data-v-16f49ca3] {
    margin-top: calc(10rem + 10vw)
}

@media only screen and (max-width:599px) {
    .Piece .mounted.first+[data-v-16f49ca3] {
        margin-top: calc(5rem + 5vw)
    }
}

.Piece .mounted.first .wall .group[data-v-16f49ca3] {
    -webkit-transform: translate3d(0, 50vh, 0);
    transform: translate3d(0, 50vh, 0)
}

@-webkit-keyframes pan-in-data-v-16f49ca3 {
    0% {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
    to {
        -webkit-transform: translate3d(0, 50vh, 0);
        transform: translate3d(0, 50vh, 0)
    }
}

@keyframes pan-in-data-v-16f49ca3 {
    0% {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
    to {
        -webkit-transform: translate3d(0, 50vh, 0);
        transform: translate3d(0, 50vh, 0)
    }
}

@-webkit-keyframes pan-out-data-v-16f49ca3 {
    0% {
        -webkit-transform: translate3d(0, 50vh, 0);
        transform: translate3d(0, 50vh, 0)
    }
    to {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
}

@keyframes pan-out-data-v-16f49ca3 {
    0% {
        -webkit-transform: translate3d(0, 50vh, 0);
        transform: translate3d(0, 50vh, 0)
    }
    to {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
}

@-webkit-keyframes pan-in-mobile-data-v-16f49ca3 {
    0% {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
    to {
        -webkit-transform: translate3d(0, var(--vhAtInitHalf), 0);
        transform: translate3d(0, var(--vhAtInitHalf), 0)
    }
}

@keyframes pan-in-mobile-data-v-16f49ca3 {
    0% {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
    to {
        -webkit-transform: translate3d(0, var(--vhAtInitHalf), 0);
        transform: translate3d(0, var(--vhAtInitHalf), 0)
    }
}

@-webkit-keyframes pan-out-mobile-data-v-16f49ca3 {
    0% {
        -webkit-transform: translate3d(0, var(--vhAtInitHalf), 0);
        transform: translate3d(0, var(--vhAtInitHalf), 0)
    }
    to {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
}

@keyframes pan-out-mobile-data-v-16f49ca3 {
    0% {
        -webkit-transform: translate3d(0, var(--vhAtInitHalf), 0);
        transform: translate3d(0, var(--vhAtInitHalf), 0)
    }
    to {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }
}

.Piece .mounted.first .wall .group.pan-enter-active[data-v-16f49ca3] {
    -webkit-animation: pan-in-data-v-16f49ca3 2s cubic-bezier(.77, 0, .175, 1) .6s backwards;
    animation: pan-in-data-v-16f49ca3 2s cubic-bezier(.77, 0, .175, 1) .6s backwards
}

.Piece .mounted.first .wall .group.pan-leave-active[data-v-16f49ca3] {
    -webkit-animation: pan-out-data-v-16f49ca3 .8s cubic-bezier(.77, 0, .175, 1) 1.85s;
    animation: pan-out-data-v-16f49ca3 .8s cubic-bezier(.77, 0, .175, 1) 1.85s
}

.Piece .mounted.first .wall .group.pan-leave-active.is-shallow[data-v-16f49ca3] {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

@media only screen and (max-width:599px) {
    .Piece .mounted.first .wall .group[data-v-16f49ca3] {
        -webkit-transform: translate3d(0, var(--vhAtInitHalf), 0);
        transform: translate3d(0, var(--vhAtInitHalf), 0)
    }
    .Piece .mounted.first .wall .group.pan-enter-active[data-v-16f49ca3] {
        -webkit-animation-name: pan-in-mobile-data-v-16f49ca3;
        animation-name: pan-in-mobile-data-v-16f49ca3
    }
    .Piece .mounted.first .wall .group.pan-leave-active[data-v-16f49ca3] {
        -webkit-animation-name: pan-out-mobile-data-v-16f49ca3;
        animation-name: pan-out-mobile-data-v-16f49ca3
    }
}

.Piece article .centered[data-v-16f49ca3] {
    width: 50vw;
    max-width: 800px;
    margin: 0 auto
}

@media only screen and (max-width:1024px) {
    .Piece article .centered[data-v-16f49ca3] {
        width: 60vw
    }
}

@media only screen and (max-width:800px) {
    .Piece article .centered[data-v-16f49ca3] {
        width: 70vw
    }
}

@media only screen and (max-width:599px) {
    .Piece article .centered[data-v-16f49ca3] {
        width: 100%;
        padding: 0 25px
    }
}

.Piece article h2[data-v-16f49ca3],
.Piece article h3[data-v-16f49ca3] {
    max-width: 300px;
    margin: 0 0 1.4375rem;
    font-family: SohneBreit-Extrafett, sans-serif;
    font-weight: 400;
    font-size: 1.6875rem;
    line-height: 1.3;
    letter-spacing: .01em;
    text-transform: uppercase
}

@media only screen and (max-width:599px) {
    .Piece article h2[data-v-16f49ca3],
    .Piece article h3[data-v-16f49ca3] {
        max-width: 100%
    }
}

.Piece article h4[data-v-16f49ca3] {
    margin: 0;
    font-family: SohneBreit-Extrafett, sans-serif;
    font-weight: 400;
    font-size: 1.6875rem;
    letter-spacing: .01em;
    text-transform: uppercase
}

.Piece article h4 sub[data-v-16f49ca3] {
    bottom: 0;
    margin-left: .3125rem;
    font-size: .9375rem;
    font-family: Sohne-Kraftig, sans-serif;
    font-weight: 400;
    color: rgba(32, 32, 32, .45)
}

.Piece article h5[data-v-16f49ca3] {
    margin: 0;
    font-family: Sohne-Kraftig, sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    letter-spacing: .01em
}

.Piece article li[data-v-16f49ca3],
.Piece article p[data-v-16f49ca3] {
    color: rgba(32, 32, 32, .45)
}

.Piece article p[data-v-16f49ca3] {
    -webkit-columns: 3 300px;
    -moz-columns: 3 300px;
    columns: 3 300px;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    margin: 0
}

.Piece article p span[data-v-16f49ca3] {
    display: block;
    margin-bottom: 1rem
}

.Piece article p span[data-v-16f49ca3]:last-of-type {
    margin-bottom: 0
}

.Piece article hr[data-v-16f49ca3] {
    display: block;
    width: 100%;
    height: 1px;
    margin: 2.5rem 0;
    background: rgba(0, 0, 0, .1);
    border: 0
}

@media only screen and (max-width:599px) {
    .Piece article hr[data-v-16f49ca3] {
        margin: 1.25rem 0
    }
}

.Piece article hr.conditional[data-v-16f49ca3] {
    display: none
}

@media only screen and (max-width:599px) {
    .Piece article hr.conditional[data-v-16f49ca3] {
        display: block
    }
}

.Piece .narrative[data-v-16f49ca3],
.Piece .process[data-v-16f49ca3],
.Piece .sales[data-v-16f49ca3] {
    margin: calc(10rem + 10vw) 0
}

@media only screen and (max-width:599px) {
    .Piece .narrative[data-v-16f49ca3],
    .Piece .process[data-v-16f49ca3],
    .Piece .sales[data-v-16f49ca3] {
        margin: calc(5rem + 5vw) 0
    }
}

.Piece .process .inspect[data-v-16f49ca3] {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    margin: calc(5rem + 5vw) 0;
    background: #fff
}

@media only screen and (max-width:599px) {
    .Piece .process .inspect[data-v-16f49ca3] {
        padding-bottom: 0;
        margin: calc(2.5rem + 2.5vw) 0
    }
}

.Piece .process .inspect img[data-v-16f49ca3] {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%
}

@media only screen and (max-width:599px) {
    .Piece .process .inspect img[data-v-16f49ca3] {
        position: relative;
        height: auto
    }
}

.Piece .sales .row[data-v-16f49ca3] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (max-width:599px) {
    .Piece .sales .row[data-v-16f49ca3] {
        display: block
    }
}

.Piece .sales .dimensions[data-v-16f49ca3],
.Piece .sales .paper[data-v-16f49ca3],
.Piece .sales .price[data-v-16f49ca3],
.Piece .sales .printing[data-v-16f49ca3] {
    width: 50%
}

@media only screen and (max-width:599px) {
    .Piece .sales .dimensions[data-v-16f49ca3],
    .Piece .sales .paper[data-v-16f49ca3],
    .Piece .sales .price[data-v-16f49ca3],
    .Piece .sales .printing[data-v-16f49ca3] {
        width: 100%
    }
}

.Piece .sales .paper[data-v-16f49ca3],
.Piece .sales .price[data-v-16f49ca3] {
    text-align: right
}

@media only screen and (max-width:599px) {
    .Piece .sales .paper[data-v-16f49ca3],
    .Piece .sales .price[data-v-16f49ca3] {
        text-align: left
    }
}

.Piece .sales .price h4[data-v-16f49ca3] {
    margin-top: -.1em
}

@media only screen and (max-width:599px) {
    .Piece .sales .price h4[data-v-16f49ca3] {
        margin-top: 0;
        text-align: right
    }
}

.Piece .sales .footnotes[data-v-16f49ca3] {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1
}